html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
}

*,
::before,
::after {
 	box-sizing: border-box;
}

html {
	color: $clr-Black;
	font-weight: 500;
	scroll-behavior: smooth;
  	overflow-x: hidden;
}

body {
	overscroll-behavior: none;
	overflow-Y: hidden;
	display: block;
	min-height: 100vh;
}

html,
body {
	position: relative;
	margin:0 auto;
	scroll-behavior: smooth !important;
	background-color: $clr-White !important;
}

h1,h2,h3,h4,h5,h6,p {
	mix-blend-mode: multiply;
}

ul {
	padding: 0;
	list-style: none;
}
li,ol {
	list-style: none;
}

a {
	text-decoration: none;
	@include transition;
	@include hoverOpacity;
}

img {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	font-size: 0 !important;
	letter-spacing: 0 !important;
	line-height: 0;
}

article, header, footer, aside, figure, figcaption, nav, section { 
	display:block;
}

body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

main {
	padding: 0 1.823vw;
}

section {
	width:100%;
	position: relative;
	line-height: 1.7;
}

table {
	width: 100%;
	border-collapse: collapse;
}

p {
	font-family: $FontSml;
}

.dis-PcOnly {
	display: block;

	@include media($mobileSize) {
		display: none;
	}
}

.dis-MbOnly {
	display: none;

	@include media($mobileSize) {
		display: block;
	}
}