.grdcnt {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    @include flex;
    justify-content: space-evenly;
}

.grdln {
    // position: fixed;
    // top: 0;
    // left: 50%;
    display: block;
    width: .03vw;
    height: 100vh;
    background-color: $clr-White;
    opacity: .1;
}