.footer {    
    position: relative;
    z-index: 999;
    background: $clr-Black;
    padding: 12vw 0 0;
    margin: 12vw 0 0;
    @include flex;
    flex-wrap: wrap;
    justify-content: end;
            
    @include media($mobileSize) {
        height: 100svh;
        height: 100lvh;
    }
    
    &--inner01 {
        @include flex;
        width: 64.95vw;
        text-align: right;
        margin: 0 auto;
            
        @include media($mobileSize) {
            width: 90%;
            display: block;
        }
    }

    &--inner01Text01 {
        width: 25%;
        text-align: right;
            
        @include media($mobileSize) {
            color: $clr-DarkGray;
            width: 100%;
            margin: 0 0 4vw;
            text-align: left;
        }
    }

    &--inner01Text02 {
        width: 25%;
        text-align: right;
            
        @include media($mobileSize) {
            color: $clr-DarkGray;
            width: 100%;
            margin: 0 0 4vw;
            text-align: left;
        }
    }


    &--inner01Text03 {
        width: 50%;
        text-align: right;
            
        @include media($mobileSize) {
            color: $clr-DarkGray;
            width: 100%;
            margin: 0 0 4vw;
            text-align: left;
        }
    }


    &--inner02 {
        display: block;
        margin: 8vw auto;
        width: 64.95vw;
        text-align: right;
            
        @include media($mobileSize) {
            
            width: 100%;
        }
    }

    &--inner02Title {
        font-size: 5.421vw;
            
        @include media($mobileSize) {
            font-size: 10vw;
            margin: 0 0 6vw;
        }
    }

    &--innerLink01 {
        position: relative;
        z-index: 99;
        color: $clr-DarkGray;
        font-size: 3.947vw;
        display: block;
        width: max-content;
        margin: 0 0 0 auto;
        cursor: pointer;
        font-family: "DotGothic16", 'Arial', sans-serif;
        background-color: transparent;
        padding: 0;
        border: none;
        @include transition;
            
        @include media($mobileSize) {
            filter: drop-shadow(0 0 1px white) brightness(0) invert(1);
            font-size: 6.618vw;
            opacity: .4;
        }


        &:before {
            content: "click to copy";
            position: absolute;
            top: 10%;
            left: 0;
            bottom: 0.618vw;
            display: block;
            font-size: .85vw;
            width: max-content;
            overflow: hidden;
            @include transition;
            transition-delay: .2s;
            opacity: 0;

            @include media($mobileSize) {
                font-size: 3.618vw;
                top: -40%;
                bottom: auto;
                opacity: 1;
                filter: drop-shadow(0 0 0 white) brightness(0) invert(1);
            }
        } 

        &:after {
            content: "";
            display: inline-block;
            width: 2.947vw;
            height: 2.947vw;
            background-image: url(../img/copy--icon.svg);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
            margin: 0 0 0 1.618vw;
            
            @include media($mobileSize) {
                width: 5vw;
                height: 5vw;
            }
        }

        &:hover {
            filter: drop-shadow(0 0 5px white) brightness(0) invert(1);
            opacity: 1;

            &:before {
                opacity: 1;
                top: 0%;

                @include media($mobileSize) {
                    top: -40%;
                }
            }        
        }

        &.copied:before {
            content: "Copied!";
            @include transition;
        }
    }

    &--innerLink02 {
        color: $clr-DarkGray;
        font-size: 2.439vw;
        display: block;
        width: max-content;
        margin: 0 0 0 auto;

        &:hover {
            color: $clr-White;
            filter: drop-shadow(0 0 5px white) brightness(0) invert(1);
            
            
            @include media($mobileSize) {
                opacity: 1;
            }
        }
            
        @include media($mobileSize) {
            font-size: 3.618vw;
            filter: drop-shadow(0 0 0 white) brightness(0) invert(1);
            opacity: .4;
        }
    }

    &__copyright {
        display: block;
        width: 100%;
        text-align: center;
            
        @include media($mobileSize) {
            font-size: 2vw;
        }
    }
}