
.top {
    &Sec01 {
        height: 100vh;
        position: relative;
        @include flex;
        align-items: center;

        @include media($mobileSize) {
            
        }

        &--Title {
            font-size: 17.632vw;
            letter-spacing: 1.618vw;
            opacity: 0.2;
            color: $clr-DarkGray;
            position: fixed;
            top: -5.5vw;
            display: inline-block;
            width: max-content;
            z-index: 0;  
            border: none !important;

            @include media($mobileSize) {
                
            }
            
        }
        
        &--container {
            display: block;
            width: 65vw;
            height: 45%;
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // background-color: $clr-DarkGray;
            border-radius: 15px;
            
            @include media($mobileSize) {
                
            }
        }

        &--containerTitle {
            font-size: 3.368vw;
            position: absolute;
            top: 5%;
            left: 5%;
            
            @include media($mobileSize) {
                
            }
        }

        &--containerSubtitle {
            font-size: 2.082vw;
            position: absolute;
            bottom: 5%;
            right: 5%;

            @include media($mobileSize) {

            }
        }
    }

    &Sec02 {
        margin: 12vw 0;
        @include flex;
        flex-wrap: wrap;
        justify-content: end;
        
        &--Title {
            font-size: 13.947vw;
            color: $clr-DarkGray;
            position: absolute;
            top: -1.6vw;
            left: -4vw;

            @include media($mobileSize) {
                
            }
        }

        &--cont01 {
            width: 48.421vw;
            margin: 0 15.15vw 0 0;
        }

        &--cont01Desc {
            font-size: 3.368vw;
            text-align: justify;
            margin: 0 0 4.211vw 0;
        }

        &--cont01Desc02 {
            font-size: 1.263vw;
            margin: 4.211vw 0 0 auto;
            text-align: justify;
            width: 31.895vw;
        }

        &--contLink {
            color: $clr-LightGray;
            display: block;
            width: max-content;
            margin: 4.211vw 0 0 auto;
            font-size: 1.263vw;
    
            &:hover {
                color: $clr-White;
                text-shadow: 0 .16vw 20px $clr-White;
            }
        }


        &--cont02 {
            width: 48.421vw;
            @include flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &--cont02Item {
            width: calc( (100% / 3) - 1.053vw);
            
        }

        &--cont02ItemTitle {
            font-size: 2.105vw;
            margin: 0 0 2.105vw;
        }
    }

    &Sec03 {

        &--Title {
            font-size: 13.947vw;
            color: $clr-DarkGray;
            position: relative;
            left: -2vw;

            @include media($mobileSize) {
                
            }
        }

        &--cont {
            display: block;
            width: 100%;
            border-bottom: 1px solid $clr-White;
            margin: 2vw auto 0;
            padding: 2vw 0 4vw;
            @include flex;
            align-items: flex-start;
            justify-content: flex-start;
            align-items: stretch;
            
            &:first-of-type{
                border-top: 1px solid $clr-White;
                margin-top: 4vw;
            }

            &:first-child {
                border-top: 1px solid $clr-White;
            }
        }

        &--contImg {
            width: calc(47.642vw - 5px);
            height: 47.642vw;
            background-color: $clr-DarkGray;
            margin: 0 5px 0 0;
        }

        &--contDesc {
            width: 32.618vw;
            height: -webkit-fill-available;
            margin: 0 0 0 5px;
            @include flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            text-align: right;
        }

        &--contDescInner {
            display: block;
            width: 100%;
            align-self: flex-start;
        }

        &--contDescTitle {
            display: block;
            width: 100%;
            font-size: 2.105vw;
        }

        &--contDescSubTitle {
            display: block;
            width: 100%;
            font-size: 1.263vw;
            margin: 1.263vw 0 0;
        }

        &--contDescText {
            display: block;
            width: 15.526vw;
            font-size: 1.263vw;
            margin: 4vw 0 0 auto;
            text-align: justify;
        }

        &--contDescCount {
            display: block;
            width: 100%;
            font-size: 3.368vw;
            align-self: flex-end;
        }
    }
    
}