// Mixins
@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin transition {
	// transition: all .4s cubic-bezier(0.55, 0.09, 0.68, 0.53);
	transition: all .4s cubic-bezier(.4,0,.8,.7);
}

@mixin transition02 {
	// transition: all .4s cubic-bezier(0.55, 0.09, 0.68, 0.53);
	transition: all .4s linear;
}

@mixin hoverOpacity {
	&:hover {
		opacity: .8;
	}
}

@mixin innerContent {
	display: block;
	max-width: 95%;
	margin: 0 auto;
}

// breakoint
@mixin media($breakPoint) {
	@media screen and (max-width: $breakPoint){
		@content;
	}
}


@include media($mobileSize) {
	html {
		min-width: 100% !important;
		overflow-x: hidden;
	}
}



