.blob04 {
    display: block;
    width: 75vw;
    height: 12vw;
    position: absolute;
    top: 9vw;
    left: 0;
    // transform: translateX(-75%) translateY(-125%);
    @include transition;
    background-color: $clr-Yellow;
    // background: rgb(19,112,181);
    // background: -moz-linear-gradient(140deg, rgba(19,112,181,1) 0%, rgba(97,47,140,1) 50%, rgba(194,26,136,1) 100%);
    // background: -webkit-linear-gradient(140deg, rgba(19,112,181,1) 0%, rgba(97,47,140,1) 50%, rgba(194,26,136,1) 100%);
    // background: linear-gradient(140deg, rgba(19,112,181,1) 0%, rgba(97,47,140,1) 50%, rgba(194,26,136,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1370b5",endColorstr="#c21a88",GradientType=1);
    // mix-blend-mode:color-burn;

    @include media($mobileSize) {
        width: 84vw;
        height: 67vh;
        top: 0;
        // transform: translateX(-50%) translateY(-50%);
    }

    &--on {
        transform-origin: 100% 0;
        width: 0;
    }
}
.cntctSec {
    margin: 0 auto 10.417vw;

    &__Container {
        display: block;
        margin: 0 auto 2.604vw;
        width: 66.668%;

        &:last-child {
            margin: 0 auto;
        }

        @include media($mobileSize) {
            width: 90%;
            margin: 0 auto 3vw;
        }
    }

    &__ContainerTitle {
        display: block;
        font-size: 1.563vw;
        font-family: $FontBig;
        font-weight: 900;
        line-height: 90%;
        color: $clr-Black;

        @include media($mobileSize) {
            font-size: 3.6vw;
            margin: 0;
            line-height: unset;
        }
    }

    &__ContainerBox {
        display: block;
        width: 100%;
        font-size: 1.563vw;
        font-family: $FontSml;
        font-weight: 400;
        padding: .3rem 1.1rem;
        margin: 15px 0;
        background-color: transparent;
        border: 1px solid $clr-Black;

        @include media($mobileSize) {
            font-size: 3.6vw;
            line-height: unset;
            padding: .1rem .7rem;
            margin: 0;
        }
    }
}