.blob03 {
    display: block;
    width: 75vw;
    height: 12vw;
    position: absolute;
    top: 9vw;
    left: 0;
    // transform: translateX(-75%) translateY(-125%);
    @include transition;
    background-color: $clr_Yellow;
    // background: rgb(19,112,181);
    // background: -moz-linear-gradient(140deg, rgba(19,112,181,1) 0%, rgba(97,47,140,1) 50%, rgba(194,26,136,1) 100%);
    // background: -webkit-linear-gradient(140deg, rgba(19,112,181,1) 0%, rgba(97,47,140,1) 50%, rgba(194,26,136,1) 100%);
    // background: linear-gradient(140deg, rgba(19,112,181,1) 0%, rgba(97,47,140,1) 50%, rgba(194,26,136,1) 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1370b5",endColorstr="#c21a88",GradientType=1);
    // mix-blend-mode:color-burn;   

    @include media($mobileSize) {
        width: 84vw;
        height: 67vh;
        top: 0;
        // transform: translateX(-50%) translateY(-50%);
    }

    &--on {
        transform-origin: 100% 0;
        width: 0;
    }
}
.wrksSec {
    @include flex;
    align-items: flex-start;
    width: 100%;
    margin: 8.854vw 0;

    @include media($mobileSize) {
        display: block;
    }
    
    &__List {
        text-align: left;

        @include media($mobileSize) {
            @include flex;
            align-items: center;
            text-align: center;
            margin: 0 0 5vw;
        }
    }

    &__ListLink {
        display: inline-block;
    }
    
    &__ListTitle {
        font-size: 1.563vw;
        font-family: $FontBig;
        font-weight: 900;
        line-height: 90%;
        color: $clr-Black;
        margin: 0 0 2.083vw;

        @include media($mobileSize) {
            font-size: 3.6vw;
            margin: 0;
            line-height: unset;
        }
    }

    &__Row {
        
        @include transition02;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: calc(70px / 2);
        grid-row-gap: calc(70px / 2);

        @include media($mobileSize) {
            grid-column-gap: calc(15px / 2);
            grid-row-gap: calc(15px / 2);
        }

        // &:hover > *,
        // &:focus-within > * {
        //     &:after {
        //         content: "";
        //         display: block;
        //         width: 100%;
        //         height: 100%;
        //         background-color: $clr-White;
        //         opacity: .2;
        //         @include transition02;
        //     }
        // }

        // &:hover > :hover,
        // &:focus-within > :focus {
        //     &:after {
        //         opacity: 0;
        //     }
        // }
    }

    &__RowItem {
        display: block;
        position: relative;
        width: 23.385vw;
        height: 32.552vw;
        padding: 0;
        margin: 0;
        border: 0;
        background: rgb(19,112,181);
        background: -moz-linear-gradient(140deg, rgba(19,112,181,1) 0%, rgba(97,47,140,1) 50%, rgba(194,26,136,1) 100%);
        background: -webkit-linear-gradient(140deg, rgba(19,112,181,1) 0%, rgba(97,47,140,1) 50%, rgba(194,26,136,1) 100%);
        background: linear-gradient(140deg, rgba(19,112,181,1) 0%, rgba(97,47,140,1) 50%, rgba(194,26,136,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1370b5",endColorstr="#c21a88",GradientType=1);
        @include transition02;
        cursor: pointer;

        &:hover {
            &:after {
                opacity: .4;
            }
        }

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            // background-color: transparent;
            background-color: $clr-Black;
            opacity: 0;
            @include transition02;
        }

        @include media($mobileSize) {
            width: 100%;
            height: 45vw;
        }
    }
    
    &__modal {
        display: none; 
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4); 
    }

    &__modalContent {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    &__modalClose {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    
        &:hover,:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    }

}