// google font import
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/* Example usage */
body {
    font-family: "DotGothic16", 'Arial', sans-serif;
}

// Colors
$clr-White: #F2F2F2;
$clr-Black: #0D0D0D;
$clr-DarkGray: #1E1E1E;
$clr-LightGray: #a6a6a6;


// Break point
$pcSize: 1200px;
$mobileSize: 767px;