@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
/* Example usage */
body {
  font-family: "DotGothic16", 'Arial', sans-serif;
}

@media screen and (max-width: 767px) {
  html {
    min-width: 100% !important;
    overflow-x: hidden;
  }
}

/* For full-screen images on small screens */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: #0D0D0D;
  font-weight: 500;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overscroll-behavior: none;
  overflow-Y: hidden;
  display: block;
  min-height: 100vh;
}

html,
body {
  position: relative;
  margin: 0 auto;
  scroll-behavior: smooth !important;
  background-color: #0D0D0D !important;
  color: #F2F2F2;
}

h1, h2, h3, h4, h5, h6, p {
  color: #F2F2F2;
  line-height: 1;
  font-weight: 100;
  font-weight: normal;
  mix-blend-mode: exclusion;
}

ul {
  padding: 0;
  list-style: none;
  color: #F2F2F2;
}

ul ul {
  padding: 0 0 0 1vw;
}

li, ol {
  list-style: none;
  color: #F2F2F2;
  font-size: 1.263vw;
  position: relative;
  padding: 0 0 0 1.618vw;
  word-break: break-all;
}

li::before, ol::before {
  content: "└";
  position: absolute;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  line-height: 1;
  position: relative;
  z-index: 1;
}

a:hover {
  opacity: .8;
}

img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  font-size: 0 !important;
  letter-spacing: 0 !important;
  line-height: 0;
}

article, header, footer, aside, figure, figcaption, nav, section {
  display: block;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main {
  padding: 0 1.823vw;
  position: relative;
  overflow: hidden;
}

section {
  width: 100%;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
}

p {
  color: #F2F2F2;
  font-size: 1.263vw;
  margin: 0 0 1.263vw;
  line-height: 1.618;
  font-weight: 100;
  font-weight: normal;
  mix-blend-mode: exclusion;
  text-align: justify;
}

.dis-PcOnly {
  display: block;
}

@media screen and (max-width: 767px) {
  .dis-PcOnly {
    display: none;
  }
}

.dis-MbOnly {
  display: none;
}

@media screen and (max-width: 767px) {
  .dis-MbOnly {
    display: block;
  }
}

.grdcnt {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.grdln {
  display: block;
  width: .03vw;
  height: 100vh;
  background-color: #F2F2F2;
  opacity: .1;
}

.footer {
  margin: 12vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer--inner01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64.95vw;
  text-align: right;
  margin: 0 auto;
}

.footer--inner01Text01 {
  text-align: right;
}

.footer--inner01Text02 {
  text-align: right;
}

.footer--inner01Text03 {
  text-align: right;
}

.footer--inner02 {
  display: block;
  margin: 8vw auto;
  width: 64.95vw;
  text-align: right;
}

.footer--inner02Title {
  font-size: 5.421vw;
}

.footer--innerLink01 {
  position: relative;
  z-index: 99;
  color: #1E1E1E;
  font-size: 3.947vw;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 0 auto;
  cursor: pointer;
  font-family: "DotGothic16", 'Arial', sans-serif;
  background-color: transparent;
  padding: 0;
  border: none;
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
}

.footer--innerLink01:before {
  content: "click to copy";
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 0.618vw;
  display: block;
  font-size: .85vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  opacity: 0;
}

.footer--innerLink01:after {
  content: "";
  display: inline-block;
  width: 2.947vw;
  height: 2.947vw;
  background-image: url(../img/copy--icon.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 0 0 1.618vw;
}

.footer--innerLink01:hover {
  -webkit-filter: drop-shadow(0 0 5px white) brightness(0) invert(1);
          filter: drop-shadow(0 0 5px white) brightness(0) invert(1);
}

.footer--innerLink01:hover:before {
  opacity: 1;
  top: 0;
}

.footer--innerLink01.copied:before {
  content: "Copied!";
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
}

.footer--innerLink02 {
  color: #1E1E1E;
  font-size: 2.439vw;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 0 auto;
}

.footer--innerLink02:hover {
  color: #F2F2F2;
  text-shadow: 0 0.16vw 20px #F2F2F2;
}

.footer__copyright {
  display: block;
  width: 100%;
  text-align: center;
}

.topSec01 {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.topSec01--Title {
  font-size: 17.632vw;
  letter-spacing: 1.618vw;
  opacity: 0.2;
  color: #1E1E1E;
  position: fixed;
  top: -5.5vw;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 0;
  border: none !important;
}

.topSec01--container {
  display: block;
  width: 65vw;
  height: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #1E1E1E;
  border-radius: 15px;
}

.topSec01--containerTitle {
  font-size: 3.368vw;
  position: absolute;
  top: 5%;
  left: 5%;
}

.topSec01--containerSubtitle {
  font-size: 2.082vw;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.topSec02 {
  margin: 12vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.topSec02--Title {
  font-size: 13.947vw;
  color: #1E1E1E;
  position: absolute;
  top: -1.6vw;
  left: -4vw;
}

.topSec02--cont01 {
  width: 48.421vw;
  margin: 0 15.15vw 0 0;
}

.topSec02--cont01Desc {
  font-size: 3.368vw;
  text-align: justify;
  margin: 0 0 4.211vw 0;
}

.topSec02--cont01Desc02 {
  font-size: 1.263vw;
  margin: 4.211vw 0 0 auto;
  text-align: justify;
  width: 31.895vw;
}

.topSec02--contLink {
  color: #a6a6a6;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 4.211vw 0 0 auto;
  font-size: 1.263vw;
}

.topSec02--contLink:hover {
  color: #F2F2F2;
  text-shadow: 0 0.16vw 20px #F2F2F2;
}

.topSec02--cont02 {
  width: 48.421vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.topSec02--cont02Item {
  width: calc( (100% / 3) - 1.053vw);
}

.topSec02--cont02ItemTitle {
  font-size: 2.105vw;
  margin: 0 0 2.105vw;
}

.topSec03--Title {
  font-size: 13.947vw;
  color: #1E1E1E;
  position: relative;
  left: -2vw;
}

.topSec03--cont {
  display: block;
  width: 100%;
  border-bottom: 1px solid #F2F2F2;
  margin: 2vw auto 0;
  padding: 2vw 0 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.topSec03--cont:first-of-type {
  border-top: 1px solid #F2F2F2;
  margin-top: 4vw;
}

.topSec03--cont:first-child {
  border-top: 1px solid #F2F2F2;
}

.topSec03--contImg {
  width: calc(47.642vw - 5px);
  height: 47.642vw;
  background-color: #1E1E1E;
  margin: 0 5px 0 0;
}

.topSec03--contDesc {
  width: 32.618vw;
  height: -webkit-fill-available;
  margin: 0 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: right;
}

.topSec03--contDescInner {
  display: block;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.topSec03--contDescTitle {
  display: block;
  width: 100%;
  font-size: 2.105vw;
}

.topSec03--contDescSubTitle {
  display: block;
  width: 100%;
  font-size: 1.263vw;
  margin: 1.263vw 0 0;
}

.topSec03--contDescText {
  display: block;
  width: 15.526vw;
  font-size: 1.263vw;
  margin: 4vw 0 0 auto;
  text-align: justify;
}

.topSec03--contDescCount {
  display: block;
  width: 100%;
  font-size: 3.368vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=main.css.map */