@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
/* Example usage */
body {
  font-family: "DotGothic16", 'Arial', sans-serif;
}

@media screen and (max-width: 767px) {
  html {
    min-width: 100% !important;
    overflow-x: hidden;
  }
}

/* For full-screen images on small screens */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  color: #0D0D0D;
  font-weight: 500;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overscroll-behavior: none;
  overflow-Y: hidden;
  display: block;
  min-height: 100vh;
}

html,
body {
  position: relative;
  margin: 0 auto;
  scroll-behavior: smooth !important;
  background-color: #0D0D0D !important;
  color: #F2F2F2;
}

h1, h2, h3, h4, h5, h6, p {
  color: #F2F2F2;
  line-height: 1;
  font-weight: 100;
  font-weight: normal;
  mix-blend-mode: exclusion;
}

ul {
  padding: 0;
  list-style: none;
  color: #F2F2F2;
}

ul ul {
  padding: 0 0 0 1vw;
}

li, ol {
  list-style: none;
  color: #F2F2F2;
  font-size: 1.263vw;
  line-height: 1.425;
  position: relative;
  padding: 0 0 0 1.425vw;
  text-align: justify;
}

li::before, ol::before {
  content: "└";
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  li, ol {
    font-size: 3.6vw;
    padding: 0 0 0 5vw;
  }
}

a {
  text-decoration: none;
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  line-height: 1;
  position: relative;
  z-index: 1;
}

a:hover {
  opacity: .8;
}

img {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  font-size: 0 !important;
  letter-spacing: 0 !important;
  line-height: 0;
}

article, header, footer, aside, figure, figcaption, nav, section {
  display: block;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main {
  padding: 0 0 12vw;
  position: relative;
  overflow: hidden;
}

section {
  width: 100%;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
}

p {
  color: #F2F2F2;
  font-size: 1.263vw;
  margin: 0 0 1.263vw;
  line-height: 1.425;
  font-weight: 100;
  font-weight: normal;
  mix-blend-mode: exclusion;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  p {
    font-size: 3.6vw;
  }
}

.dis-PcOnly {
  display: block;
}

@media screen and (max-width: 767px) {
  .dis-PcOnly {
    display: none;
  }
}

.dis-MbOnly {
  display: none;
}

@media screen and (max-width: 767px) {
  .dis-MbOnly {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .parallax {
    -webkit-transform: none !important;
            transform: none !important;
  }
}

.scanlines {
  position: relative;
}

.scanlines:before, .scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute;
}

.scanlines:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.04rem;
  z-index: 2147483649;
  opacity: 0.75;
}

.scanlines:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2147483648;
}

#switch ~ .screen {
  position: relative;
}

#switch ~ .screen.scanlines:before, #switch ~ .screen.scanlines:after {
  -webkit-animation: none;
          animation: none;
}

#switch ~ .screen > .contents {
  -webkit-animation: crt-power-off .55s forwards ease-in-out;
          animation: crt-power-off .55s forwards ease-in-out;
}

#switch:checked ~ .screen.scanlines:before {
  background: rgba(0, 0, 0, 0.25);
  -webkit-animation: scan-moving 6s linear infinite;
          animation: scan-moving 6s linear infinite;
}

#switch:checked ~ .screen.scanlines:after {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(40%, rgba(0, 0, 0, 0.25)));
  background: linear-gradient(to bottom, transparent 50%, rgba(0, 0, 0, 0.25) 40%);
  background-size: 100% 0.4rem;
  -webkit-animation: scan-crt 1s steps(60) infinite;
          animation: scan-crt 1s steps(60) infinite;
}

@media screen and (max-width: 767px) {
  #switch:checked ~ .screen.scanlines:after {
    -webkit-animation: scan-crt 10s steps(60) infinite;
            animation: scan-crt 10s steps(60) infinite;
  }
}

#switch:checked ~ .screen > .contents {
  -webkit-animation: crt-power-on 2s forwards linear;
          animation: crt-power-on 2s forwards linear;
}

@-webkit-keyframes scan-moving {
  0% {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
  }
}

@keyframes scan-moving {
  0% {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
  }
}

@-webkit-keyframes scan-crt {
  0% {
    background-position: 0 50%;
  }
}

@keyframes scan-crt {
  0% {
    background-position: 0 50%;
  }
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes crt-power-on {
  0% {
    -webkit-transform: scale(1, 0.8) translate3d(0, 0, 0);
            transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
            filter: brightness(30);
    opacity: 1;
    background-color: black;
  }
  3.5% {
    -webkit-transform: scale(1, 0.8) translate3d(0, 100%, 0);
            transform: scale(1, 0.8) translate3d(0, 100%, 0);
    background-color: rgba(255, 255, 255, 0.5);
  }
  3.6% {
    -webkit-transform: scale(1, 0.8) translate3d(0, -100%, 0);
            transform: scale(1, 0.8) translate3d(0, -100%, 0);
  }
  9% {
    -webkit-transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
            transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    background-color: rgba(255, 255, 255, 0.1);
  }
  11% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
            transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
            filter: contrast(0) brightness(0);
    opacity: 0;
    background-color: none;
  }
  100% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
            transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
            filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@keyframes crt-power-on {
  0% {
    -webkit-transform: scale(1, 0.8) translate3d(0, 0, 0);
            transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
            filter: brightness(30);
    opacity: 1;
    background-color: black;
  }
  3.5% {
    -webkit-transform: scale(1, 0.8) translate3d(0, 100%, 0);
            transform: scale(1, 0.8) translate3d(0, 100%, 0);
    background-color: rgba(255, 255, 255, 0.5);
  }
  3.6% {
    -webkit-transform: scale(1, 0.8) translate3d(0, -100%, 0);
            transform: scale(1, 0.8) translate3d(0, -100%, 0);
  }
  9% {
    -webkit-transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
            transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    background-color: rgba(255, 255, 255, 0.1);
  }
  11% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
            transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
            filter: contrast(0) brightness(0);
    opacity: 0;
    background-color: none;
  }
  100% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
            transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
            filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@-webkit-keyframes crt-power-off {
  0% {
    -webkit-transform: scale(1, 1.3) translate3d(0, 0, 0);
            transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
            filter: brightness(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.3, 0.001) translate3d(0, 0, 0);
            transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
            filter: brightness(10);
  }
  100% {
    -webkit-transform: scale(0, 0.0001) translate3d(0, 0, 0);
            transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
            filter: brightness(50);
  }
}

@keyframes crt-power-off {
  0% {
    -webkit-transform: scale(1, 1.3) translate3d(0, 0, 0);
            transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
            filter: brightness(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.3, 0.001) translate3d(0, 0, 0);
            transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
            filter: brightness(10);
  }
  100% {
    -webkit-transform: scale(0, 0.0001) translate3d(0, 0, 0);
            transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
            filter: brightness(50);
  }
}

.container {
  text-shadow: 0 0 0.01em white, -0.01em 0 0.01em cyan, 0.01em 0 0.01em magenta;
}

.screen {
  border-radius: 1rem;
  overflow: hidden;
}

.screen .contents {
  position: relative;
  background-color: #d6d6d610;
  padding: 0 1.815vw;
}

#switch {
  display: none;
}

.header {
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: block;
  z-index: 999;
  margin: 0 .618vw 1.618vw auto;
}

.header--link {
  display: block;
  color: #a6a6a6;
  font-size: 2.439vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 1.618vw auto;
}

@media screen and (max-width: 767px) {
  .header--link {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 5.8vw;
    -webkit-filter: drop-shadow(0 0 1px white) brightness(0) invert(1);
            filter: drop-shadow(0 0 1px white) brightness(0) invert(1);
  }
}

.header--link:last-of-type {
  margin-bottom: 0;
}

.header--link:hover {
  color: #F2F2F2;
  -webkit-filter: drop-shadow(0 0 5px white) brightness(0) invert(1);
          filter: drop-shadow(0 0 5px white) brightness(0) invert(1);
}

.hdrToTop {
  display: block;
  width: 4vw;
  height: 4vw;
  background-image: url("../img/totop.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 9999;
  bottom: 3%;
  right: 1%;
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
}

.hdrToTop:hover {
  -webkit-filter: drop-shadow(0 0 5px white) brightness(0) invert(1);
          filter: drop-shadow(0 0 5px white) brightness(0) invert(1);
}

@media screen and (max-width: 767px) {
  .hdrToTop {
    width: 6vw;
    height: 6vw;
  }
}

.footer {
  position: relative;
  z-index: 999;
  background: #0D0D0D;
  padding: 12vw 0 0;
  margin: 12vw 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media screen and (max-width: 767px) {
  .footer {
    height: 100svh;
    height: 100lvh;
  }
}

.footer--inner01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 64.95vw;
  text-align: right;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .footer--inner01 {
    width: 90%;
    display: block;
  }
}

.footer--inner01Text01 {
  width: 25%;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer--inner01Text01 {
    color: #1E1E1E;
    width: 100%;
    margin: 0 0 4vw;
    text-align: left;
  }
}

.footer--inner01Text02 {
  width: 25%;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer--inner01Text02 {
    color: #1E1E1E;
    width: 100%;
    margin: 0 0 4vw;
    text-align: left;
  }
}

.footer--inner01Text03 {
  width: 50%;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer--inner01Text03 {
    color: #1E1E1E;
    width: 100%;
    margin: 0 0 4vw;
    text-align: left;
  }
}

.footer--inner02 {
  display: block;
  margin: 8vw auto;
  width: 64.95vw;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer--inner02 {
    width: 100%;
  }
}

.footer--inner02Title {
  font-size: 5.421vw;
}

@media screen and (max-width: 767px) {
  .footer--inner02Title {
    font-size: 10vw;
    margin: 0 0 4vw;
  }
}

.footer--innerLink01 {
  position: relative;
  z-index: 99;
  color: #1E1E1E;
  font-size: 3.947vw;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 0 auto;
  cursor: pointer;
  font-family: "DotGothic16", 'Arial', sans-serif;
  background-color: transparent;
  padding: 0;
  border: none;
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
}

@media screen and (max-width: 767px) {
  .footer--innerLink01 {
    -webkit-filter: drop-shadow(0 0 1px white) brightness(0) invert(1);
            filter: drop-shadow(0 0 1px white) brightness(0) invert(1);
    font-size: 6.618vw;
    opacity: .4;
  }
}

.footer--innerLink01:before {
  content: "click to copy";
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 0.618vw;
  display: block;
  font-size: .85vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .footer--innerLink01:before {
    font-size: 3.618vw;
    top: -40%;
    bottom: auto;
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 0 white) brightness(0) invert(1);
            filter: drop-shadow(0 0 0 white) brightness(0) invert(1);
  }
}

.footer--innerLink01:after {
  content: "";
  display: inline-block;
  width: 2.947vw;
  height: 2.947vw;
  background-image: url(../img/copy--icon.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 0 0 1.618vw;
}

@media screen and (max-width: 767px) {
  .footer--innerLink01:after {
    width: 5vw;
    height: 5vw;
  }
}

.footer--innerLink01:hover {
  -webkit-filter: drop-shadow(0 0 5px white) brightness(0) invert(1);
          filter: drop-shadow(0 0 5px white) brightness(0) invert(1);
  opacity: 1;
}

.footer--innerLink01:hover:before {
  opacity: 1;
  top: -40%;
}

.footer--innerLink01.copied:before {
  content: "Copied!";
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.8, 0.7);
}

.footer--innerLink02 {
  color: #1E1E1E;
  font-size: 2.439vw;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 0 auto;
}

.footer--innerLink02:hover {
  color: #F2F2F2;
  -webkit-filter: drop-shadow(0 0 5px white) brightness(0) invert(1);
          filter: drop-shadow(0 0 5px white) brightness(0) invert(1);
}

@media screen and (max-width: 767px) {
  .footer--innerLink02:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .footer--innerLink02 {
    font-size: 3.618vw;
    -webkit-filter: drop-shadow(0 0 0 white) brightness(0) invert(1);
            filter: drop-shadow(0 0 0 white) brightness(0) invert(1);
    opacity: .4;
  }
}

.footer__copyright {
  display: block;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    font-size: 2vw;
  }
}

.topSec01 {
  height: 100dvh;
}

@media screen and (max-width: 767px) {
  .topSec01 {
    height: 100svh;
    height: 100lvh;
  }
}

.topSec01--Title {
  font-size: 17.632vw;
  letter-spacing: 1.618vw;
  opacity: 0.2;
  color: #1E1E1E;
  position: fixed;
  top: -3.5vw;
  right: 0;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 0;
  border: none !important;
}

.topSec01--containerTitle {
  font-size: 3.368vw;
  position: absolute;
  top: 30%;
  left: 5%;
}

@media screen and (max-width: 767px) {
  .topSec01--containerTitle {
    font-size: 13.368vw;
  }
}

.topSec01--containerSubtitle {
  font-size: 2.082vw;
  position: absolute;
  bottom: 5%;
  right: 12%;
}

@media screen and (max-width: 767px) {
  .topSec01--containerSubtitle {
    font-size: 5.082vw;
    bottom: 30%;
    right: 9%;
  }
}

.topSec02 {
  margin: 12vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media screen and (max-width: 767px) {
  .topSec02 {
    display: block;
  }
}

.topSec02--Title {
  font-size: 13.947vw;
  color: #1E1E1E;
  position: absolute;
  top: -1.6vw;
  left: -4vw;
}

@media screen and (max-width: 767px) {
  .topSec02--Title {
    position: relative;
    top: auto;
    left: auto;
    margin: 0 0 6vw;
  }
}

.topSec02--cont01 {
  width: 48.421vw;
  margin: 0 15.15vw 0 0;
}

@media screen and (max-width: 767px) {
  .topSec02--cont01 {
    width: 85vw;
    margin: 0;
  }
}

.topSec02--cont01Desc {
  font-size: 3.368vw;
  text-align: justify;
  margin: 0 0 4.211vw 0;
}

@media screen and (max-width: 767px) {
  .topSec02--cont01Desc {
    font-size: 8vw;
    margin: 0 0 6vw 0;
  }
}

.topSec02--cont02 {
  width: 48.421vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .topSec02--cont02 {
    width: 100%;
    display: block;
  }
}

.topSec02--cont02Item {
  width: calc( (100% / 3) - 1.053vw);
}

@media screen and (max-width: 767px) {
  .topSec02--cont02Item {
    width: 100%;
    margin: 0 0 3vw;
  }
}

.topSec02--cont02ItemTitle {
  font-size: 2.105vw;
  margin: 0 0 2.105vw;
}

@media screen and (max-width: 767px) {
  .topSec02--cont02ItemTitle {
    font-size: 5vw;
  }
}

.topSec02--cont01Desc02 {
  font-size: 1.263vw;
  margin: 4.211vw 0 0 auto;
  text-align: justify;
  width: 31.895vw;
}

@media screen and (max-width: 767px) {
  .topSec02--cont01Desc02 {
    width: 100%;
    margin: 0 0 0 auto;
    font-size: 3.6vw;
  }
}

.topSec02--contLink {
  color: #a6a6a6;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 4.211vw 0 0 auto;
  font-size: 1.263vw;
}

.topSec02--contLink:hover {
  color: #F2F2F2;
  text-shadow: 0 0.16vw 20px #F2F2F2;
}

@media screen and (max-width: 767px) {
  .topSec02--contLink {
    font-size: 4.6vw;
  }
}

.topSec03 {
  padding: 0 0 6vw;
}

.topSec03--Title {
  font-size: 13.947vw;
  color: #1E1E1E;
  position: relative;
  left: -2vw;
}

.topSec03--cont {
  width: 100%;
  border-bottom: 1px solid #F2F2F2;
  margin: 2vw auto 0;
  padding: 2vw 0 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 767px) {
  .topSec03--cont {
    display: block;
  }
}

.topSec03--cont:first-of-type {
  border-top: 1px solid #F2F2F2;
  margin-top: 4vw;
}

.topSec03--cont:first-child {
  border-top: 1px solid #F2F2F2;
}

.topSec03--contImg {
  width: calc(47.642vw - 5px);
  height: 47.642vw;
  background-color: #1E1E1E;
  margin: 0 5px 0 0;
}

@media screen and (max-width: 767px) {
  .topSec03--contImg {
    width: 85vw;
    height: 80vw;
    margin: 0 0 4vw;
  }
}

.topSec03--contDesc {
  width: 32.618vw;
  height: -webkit-fill-available;
  margin: 0 0 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .topSec03--contDesc {
    width: 85vw;
    margin: 0 0 4vw;
  }
}

.topSec03--contDescInner {
  display: block;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.topSec03--contDescTitle {
  display: block;
  width: 100%;
  font-size: 2.105vw;
}

@media screen and (max-width: 767px) {
  .topSec03--contDescTitle {
    font-size: 8vw;
  }
}

.topSec03--contDescSubTitle {
  display: block;
  width: 100%;
  font-size: 1.263vw;
  margin: 1.263vw 0 0;
}

@media screen and (max-width: 767px) {
  .topSec03--contDescSubTitle {
    font-size: 3.6vw;
  }
}

.topSec03--contDescText {
  display: block;
  width: 15.526vw;
  font-size: 1.263vw;
  margin: 4vw 0 0 auto;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .topSec03--contDescText {
    font-size: 3.6vw;
    width: 100%;
  }
}

.topSec03--contDescCount {
  display: block;
  width: 100%;
  font-size: 3.368vw;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .topSec03--contDescCount {
    font-size: 5vw;
  }
}

.Abt--Cnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 24vw 0 0;
}

@media screen and (max-width: 767px) {
  .Abt--Cnt {
    display: block;
    padding: 18vw 0 0;
  }
}

.AbtSec01 {
  width: calc( 48.158vw - 10px);
}

@media screen and (max-width: 767px) {
  .AbtSec01 {
    width: 85vw;
  }
}

.AbtSec01--Title {
  font-size: 17.632vw;
  letter-spacing: 1.618vw;
  opacity: 0.2;
  color: #1E1E1E;
  position: fixed;
  top: -3.5vw;
  right: 0;
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 0;
  border: none !important;
}

.AbtSec01--desc {
  font-size: 3.368vw;
  text-align: justify;
  margin: 0 0 4vw;
}

@media screen and (max-width: 767px) {
  .AbtSec01--desc {
    font-size: 5vw;
  }
}

.AbtSec01--descImg {
  margin: 0 0 4vw;
}

.AbtSec02 {
  width: calc( 31.895vw - 10px);
  margin: 0 15.15vw 0 10px;
  padding: 54.737vw 0 12vw;
}

@media screen and (max-width: 767px) {
  .AbtSec02 {
    margin: 0 15.15vw 0 0;
    width: 85vw;
    padding: 0;
  }
}

.AbtSec02--cont {
  margin: 0 0 2.105vw;
}

.AbtSec02--cont:last-of-type {
  margin: 0;
}

.AbtSec02--contTitle {
  font-size: 2.105vw;
}

@media screen and (max-width: 767px) {
  .AbtSec02--contTitle {
    font-size: 5vw;
  }
}
/*# sourceMappingURL=main.css.map */